    <link rel="canonical" href="{{ site.baseurl }}" />

    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:image" content="{{ site.baseurl }}assets/images/cover1.jpg" />

    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "{{ site.name }}",
    "url": "{{ site.baseurl }}",
    "image": "{{ site.baseurl }}assets/images/cover1.jpg",
    "description": "{{ site.description }}"
}
    </script>
