<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about/">About</a>
            <ul>
                <li class="nav-collaborators {% if page.current == 'collaborators' %} nav-current{% endif %}"><a href="{{ site.baseurl }}about/collaborators/">Collaborators</a></li>
                <li class="nav-earlyadopters {% if page.current == 'early adopters' %} nav-current{% endif %}"><a href="{{ site.baseurl }}about/early_adopters/">Early Adopters</a></li>
            </ul>
        </li>
        <li class="nav-download" role="presentation"><a href="https://github.com/BuildingSync/schema/releases">Download</a></li>
        <li class="nav-docs {% if page.url contains 'docs' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}docs/">Docs</a></li>
        <li class="nav-faq {% if page.url contains 'faq' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}faq/">FAQ</a></li>
        <li class="nav-tools {% if page.current == 'tools' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tools/">Tools</a></li>
    </ul>
</div>
<span class="nav-cover"></span>